/* font & box-sizing */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */
header{
    background-color: white;

    width: 1140px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#home-logo{
    width: 80px;
}

.box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    justify-content: right;
}

#profile-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    cursor: pointer;
}
/* Header end */


/* body */
body{ /* body의 최소 크기를 header보다 크게 */
    min-width: 1300px; 
}

/* main */
main{ /* 배경색 */
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-content{
    height: 700px;
    display: flex;
    margin: 20px 0px;
}

.sidebar{
    width: 200px;
}

.admin-info, .menu-list{
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 5px;
}


/* section.admin-content */
.admin-content{
    width: 920px;
    margin-left: 20px;
    background-color: white;
}

/* main end */

/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}
/* footer end */