*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 신고 페이지 전체 영역 */
.report-page{
    border: 1px solid black;
    height: 500px;
    width: 400px;

}

/* 신고 페이지 머리말 */
.report-head{
    font-weight: bold;

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 신고 페이지 본문 */
.report-frm{
    width: 100%;
    height: 390px;
}

/* 신고 페이지 정보 영역 */
.report-who{
    background-color: #BFBFBF10;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.report-who > p{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.report-who > p > strong{
    flex-basis: 20%;
    color:gray;
    font-size: 13px;
    font-weight: 400;
}

.report-who > p > span{
    font-size: 13px;
}

/* 신고 페이지 사유 영역 */
.report-why{
    width: 100%;
    list-style: none;
    background-color: none;
}

.report-frm > ul{
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #BFBFBF40;
}

/* 신고 버튼 */
.report-btn{
    font-size: 15px;
    background-color: white;

    border: none;
    padding: 20px;
    border-bottom: 1px solid #BFBFBF40;

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 버튼 내 이미지 */
.report-btn > img{
    width: 20px;
    height: 20px;
}