<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 모임 관리</title>

    <link rel="stylesheet" href="/resources/css/admin/layout-style.css">
    <link rel="stylesheet" href="/resources/css/admin/group-detail-style.css">
    <link rel="stylesheet" href="/resources/css/admin/searchbar-style.css">
    <link rel="stylesheet" href="/resources/css/admin/sidebar-style.css">
    
</head>
<body>

    <header>
        <section>
            <!-- 클릭 시 메인으로 이동하는 로고  -->
            <a href="#">
                <img src="/resources/images/common/home-logo.png" id="home-logo">
            </a>
        </section>
    
        <section class="profile">
            <!-- 내 정보 사진 -->
            <button type="button" class="box">
                <img src="/resources/images/common/profile-icon.png" id="profile-photo">
            </button>
        </section>
    </header>

    <main> <!-- for background-color -->

        <section class="main"> 
            
            <aside class="sidebar">

                <article class="admin-info"> <!-- admin-info  -->
                    <div class="info-image-area">
                        <img id="info-image" src="/resources/images/admin-profile-icon.png">
                    </div>
                    <span>관리자1</span>
                    <div class="profile-btn-area">
                        <a href="#" id="home">밴드 홈</a>
                        <a href="/logout" id="logout">로그아웃</a>
                    </div>
                </article> <!-- admin-profile end -->
                
                <nav class="admin-menu">
                    <ul>
                        <a href="#">공지사항</a>
                    </ul>
                        
                    <ul> 밴드 관리
                        <li><a href="/admin/memberList">- 회원</a></li>
                        <li><a href="/admin/groupList">- 소모임</a></li>
                        <li><a href="/admin/postList">- 게시글</a></li>
                    </ul>
            
                    <ul>
                        <a href="#">신고</a>
                    </ul>
            
                </nav>
                
            </aside>


            <section class="content">
                <div class="content-header">
                    <h6>밴드 관리 / 모임 관리</h6>
                    <h3>모임 검색</h3>
                </div>
                
				<form id="searchbar" action="/printGroupList" method="GET">
				
				    <select name="type">
				        <option value="">분류1</option>
				        <option value="">분류2</option>
				        <option value="">분류3</option>
				    </select>
				
				    <div class="keyword-box">
				        <div class="input-box"><input type="text" name="keyword"></div>
				        <button class="btn">검색</button>
				    </div>
				
				    <select name="number">
				        <option value="">10</option>
				        <option value="">20</option>
				        <option value="">50</option>
				    </select>
				
				</form> <!-- end .searchbar -->

                <div class="content-body">
                    
                    <div class="list-header">
                        <span class="groupNo">번호</span>
                        <span class="topicCode">주제코드</span>
                        <span class="groupName">모임이름</span>
                        <span class="groupDate">생성일</span>
                        <span class="openYN">공개여부</span>
                        <span class="groupStatus">상태</span>
                    </div>
					
					<!-- 목록 불러오기 반복문 -->
                    <c:forEach var="group" items="${groupList}">
                    <form action="/printGroupList" class="list-frm" method="GET">
                        <button class="list-btn">
                            <span class="groupNo">${group.groupNo}</span>
                            <span class="topicCode">${group.topicCode}</span>
                            <span class="groupName">${group.groupName}</span>
                            <span class="groupDate">${group.groupDate}</span>
                            <span class="openYN">${group.openYN}</span>
                            <span class="groupStatus">${group.groupStatus}</span>
                        </button>
                    </form>
					</c:forEach>
					
                </div>


            <div class="content-footer">
            	<span>prev</span>
            	<span>1</span>
            	<span>2</span>
            	<span>3</span>
            	<span>next</span>
            </div>
            </section> <!-- admin-content end -->
        </section> <!-- main-content end -->
    </main>

	<footer>
        <p>
            BOND &copy; 2022
        </p>
        
        <article>
            <a href="#">블로그</a>
            <span>|</span>
            <a href="#">이용약관</a>
            <span>|</span>
            <a href="#">개인정보처리방침</a>
            <span>|</span>
            <a href="#">고객센터</a>
        </article>
    </footer>
	
    <script src="/resources/js/sidebar.js"></script>
</body>
</html>