<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 공지사항</title>

    <link rel="stylesheet" href="../../../resources/css/admin/layout-style.css">
    <link rel="stylesheet" href="../../../resources/css/admin/notice-detail-style.css">
    <link rel="stylesheet" href="../../../resources/css/admin/searchbar-style.css">
    <link rel="stylesheet" href="../../../resources/css/admin/sidebar-style.css">
    
</head>
<body>

    <!-- <jsp:include page="/WEB-INF/views/common/header.jsp" /> -->
    <header>
        <section>
            <!-- 클릭 시 메인으로 이동하는 로고  -->
            <a href="#">
                <img src="/resources/images/common/home-logo.png" id="home-logo">
            </a>
        </section>
    
        <section class="profile">
            <!-- 내 정보 사진 -->
            <button type="button" class="box">
                <img src="/resources/images/common/profile-icon.png" id="profile-photo">
            </button>
        </section>
    </header>

    <main> <!-- for background-color -->

        <section class="main"> 
            
	<!-- <jsp:include page="/WEB-INF/views/admin/sidebar.jsp" /> -->
    <aside class="sidebar">

        <article class="admin-info"> <!-- admin-info  -->
            <div class="info-image-area">
                <img id="info-image" src="/resources/images/admin-profile-icon.png">
            </div>
            <span>관리자1</span>
            <div class="profile-btn-area">
                <a href="#" id="home">밴드 홈</a>
                <a href="/logout" id="logout">로그아웃</a>
            </div>
        </article> <!-- admin-profile end -->
        
        <nav class="admin-menu">
            <ul>
                <a href="#">공지사항</a>
            </ul>
                
            <ul> 밴드 관리
                <li><a href="/admin/memberList">- 회원</a></li>
                <li><a href="/admin/groupList">- 소모임</a></li>
                <li><a href="/admin/postList">- 게시글</a></li>
            </ul>
    
            <ul>
                <a href="#">신고</a>
            </ul>
    
        </nav>
        
    </aside>

            <section class="content">
                <div class="content-header">
                    <h6>공지사항 / 목록</h6>
                    <h3>공지사항</h3>
                </div>
                
                <div class="content-body">

                    <a href="noticeList.html" id="list-btn">목록</a>
                    <article>
                        <div class="notice-content-head">
                            <strong class="notice-title">개인정보는 누구에게도 알려주지 마세요.</strong>
                            <span class="notice-date">2022년 10월 22일</span>
                            <span class="notice-status">공개</span>
                            <form action="#" id="noticeEdit">
                                <button >수정</button>
                            </form>
                            <form action="#" id="noticeDel">
                                <button>삭제</button>
                            </form>
                        </div>
                        <div class="notice-content">
                            아이디, 비밀번호를 요구하지 않습니다.
                            <br>
                            아이디, 비밀번호를 요구하지 않습니다.
                            <br>
                        </div>
                    </article>

                </div>


            <div class="content-footer">
            	<span>prev</span>
            	<span>1</span>
            	<span>2</span>
            	<span>3</span>
            	<span>next</span>
            </div>
            </section> <!-- admin-content end -->
        </section> <!-- main-content end -->
    </main>

    
<footer>
	<p>
	    BOND &copy; 2022
	</p>
	
	<article>
	    <a href="#">블로그</a>
	    <span>|</span>
	    <a href="#">이용약관</a>
	    <span>|</span>
	    <a href="#">개인정보처리방침</a>
	    <span>|</span>
	    <a href="#">고객센터</a>
	</article>
</footer>

	<!-- <jsp:include page="/WEB-INF/views/common/footer.jsp" /> -->
	
    <script src="/resources/js/sidebar.js"></script>
</body>
</html>