/* admin-content 스타일 */
.admin-content{
    background-color: white;
    padding: 10px 20px 20px 20px;
    margin-left: 20px;
    border: 1px solid #BFBFBF;
    border-radius: 7px;

    min-height: 100%;
    height: 100%;
    width: 900px;

    display: flex;
    flex-direction: column;
}

/* admin-content-header 스타일 */

/* 외부 파일 사용 */

/* -------------------------- */
.list-header{
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 10px;
    
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-frm{
    width: 100%;
    display: flex;
}

.notice-item{
    display: flex;
    flex-direction: column;
}

.notice-title, .notice-date{
    font-size: 13px;
    letter-spacing: -1px;
}


/* admin-content-main */
.content-main{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    letter-spacing: -1px;
}

/* 목록 버튼 */
#noticeList{
    color: black;
    background-color: #bfbfbf21;
    
    font-size: 12px;
    text-decoration: none;

    border: none;
    border-radius: 3px;
    
    width: 50px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
#noticeList:hover{
    background-color: #bfbfbf31;
}
#noticeList:active{
    background-color: #bfbfbf41;
    color: black;
}

/* 아티클 */
admin-content article{
    display: flex;
    flex-direction: column;
}

/* 제목, 날짜, 공개여부 */
.notice-content-head{
    border-bottom: 1px solid #E2E2E2;
    height: 70px;
    margin-bottom: 10px;
}

.notice-title{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;

}

/* 공개여부 */
.notice-status{
    font-size: 15px;
    color:white;
    background-color: dodgerblue;
    border-radius: 7px;
    
    display:inline-block;
    text-align: center;
    width: 50px;
    height: 21px;
}

/* 수정 / 삭제 버튼 */
.notice-content-head > form{
    display:inline-block;
}

.notice-content-head > form > button{
    font-size: 15px;
    color:white;
    border: none;
    border-radius: 7px;
    
    display:inline-block;
    text-align: center;
    width: 50px;
    height: 21px;
}

/* 수정 버튼 */
#noticeEdit > button { 
    background-color: #BFBFBF;
    cursor: pointer;
}
/* 삭제 버튼 */
#noticeDel > button { 
    background-color: lightcoral;
    cursor: pointer;
}

.notice-content-head button:hover{
    opacity: 0.9;
    transition-duration: 0.1s;
}

.notice-content-head button:active{
    opacity: 0.8;
    transition-duration: 0.1s;
}


/* 본문 */
.notice-content{
    font-size: 17px;
}

/* 비율 조정 */
/* 
    number : 10%
    email : 25%
    name : 20%
    date : 15%
    ect : 10%
*/

#noticeList{ flex-basis: 10%;}
article{ flex-basis: 80%; }

.notice-number{ flex-basis: 10%;}
.notice-item{ flex-basis: 60%;}
.notice-status{ flex-basis: 10%; }

