@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 신고 페이지 전체 영역 */
.report-page{
    height: 500px;
    width: 400px;
}

/* 신고 페이지 머리말 */
.report-head{
    font-weight: bold;

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 신고 페이지 본문 */
.report-frm{
    width: 100%;
    height: 390px;
}

/* 신고 페이지 정보 영역 */
.report-who{
    background-color: #BFBFBF30;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.report-who > p{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
.report-who > p > strong{
    flex-basis: 20%;
    color:gray;
    font-size: 13px;
    font-weight: 400;
}
.report-who > p > span{
    font-size: 13px;
}

/* 신고 페이지 사유 영역 */
.report-why{
    width: 100%;
    list-style: none;
    background-color: none;
}

/* 신고 사유 리스트 */
.report-frm > ul{
    padding: 0 30px;
    border-bottom: 1px solid #E2E2E2;
}

.report-frm > ul > li{
    border-bottom: 1px solid #E2E2E2;
}

.report-frm > ul > li:last-child{
    border-bottom: none;
}

/* 신고 버튼 */
.report-btn{
    font-weight: 800;
    font-size: 14px;
    background-color: white;

    border: none;
    border-bottom: 1px solid #BFBFBF40;

    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
}
.report-btn > span{
    flex-basis: 100%;
    text-align: start;
}
.report-btn > img{
    width: 10px;
    height: 10px;
}
.report-btn:hover{
    cursor: pointer;
    transition: 0.1s;
}