*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* 박스 구별용 테두리 설정 */
/* div{
    border: 1px solid black;
} */

/* 전체 기본 레이아웃 */
#body-container{
    height: 900px;
    display: grid;
    grid-template-rows: 100px 700px 100px;
    margin: 0;
    margin: auto;
}

/* 메인 기본 레이아웃 */
#main-container{
    border: 1px solid gainsboro;
    border-radius: 3px;
    width: 500px;
    height: 300px;
    margin: 0;
    margin: auto;
}

/* 메인 내부 레이아웃 */
#main-container > form{
    display: grid;
    grid-template-rows: 100px 60px 60px 30px 50px;
}

/* 메인칸 */
#main-container div:nth-child(1){
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

/* 아이디 입력칸 */
#main-container div:nth-child(2){
    display: grid;
    padding: 10px;
}

[name="inputId"]{
    border: 1px solid gainsboro;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 10px;
}

/* 비밀번호 입력칸 */
#main-container div:nth-child(3){
    display: grid;
    padding: 10px;
}

[name="inputPw"]{
    border: 1px solid gainsboro;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 10px;
}


/* 아이디, 비밀번호 찾기 */
#main-container div:nth-child(4){
    display: grid;
    grid-template-columns: 100px 10px 100px;
    justify-content: flex-end;
    padding-right: 7px;
}

[name^="find"] {
    border: none;
    background: none;
    cursor: pointer;
}


/* 로그인 버튼 */
#main-container div:nth-child(5){
    padding: 7px 10px;
    display: grid;
}

[name="login"]{
    border: none;
    background: none;
    /* 경계선, 배경 없앴음! */
    border-radius: 3px;
    background-color: lightskyblue;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

[name="login"]:hover{
    background-color: rgb(65, 163, 224);
    transition-duration: 0.1s;
}