
#flex-container{
    border: 1px solid black;
    display: flex;
    height: 600px;
    width: 600px;
    color:white;
    font-size: 30px;
    flex-wrap: wrap;
    align-content:space-evenly;
}
#flex-container > div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#flex-container > div:nth-child(1){
    background-color: red;}

/* #flex-container > div:nth-child(2){
    padding-top: 40px;
} */
/* #flex-container > div:nth-child(3){
    padding-top: 30px;
    background-color: green;} */
/* #flex-container > div:nth-child(4){
    padding-top: 20px;
} */
#flex-container > div:last-child{background-color: blue;}
/* #flex-container > div:nth-child(2){background-color: yellow;}
#flex-container > div:nth-child(3){background-color: blue}
#flex-container > div:nth-child(4){background-color: orange;}
#flex-container > div:nth-child(5){background-color: green;} */


div > div{background-color:orange}