@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */
header{
    width: 1140px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#home-logo{
    width: 80px;
}

.box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    justify-content: right;
}

#profile-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    cursor: pointer;
}

/* button{
    cursor: pointer;
} */

/* admin */

/* main */
main{ /* main background */
    background-color: #E2E2E2;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

.main{ /* main 영역 너비 지정*/
    width: 1140px;
    min-height: 500px;

    margin: 20px 0px;
    
    display: flex;
    justify-content: space-between;
}


/* aside */
aside{
    min-width: 240px;
    min-height: 100%;
    height: 100%;
}



/* admin - profile */
.admin-profile{
    background-color: white;
    
    margin-bottom: 20px;
    border-radius: 7px;
    /* border-bottom: 3px solid #BFBFBF;  */
    border: 1px solid #BFBFBF;
    height: 70px;

    display: flex;
}

/* admin - logo */
.admin-logo{
    flex-basis: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-logo-area{
    /* background-color: #E2E2E2; */

    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;

    overflow: hidden;
    border: 2px solid black;
}

#admin-logo-img{
    width: 100%;
    object-fit: cover;
}

/* admin - name */
.admin-name{
    flex-basis: 40%;
    
    letter-spacing: -2px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* admin - quickmenu */
.admin-quickmenu{
    flex-basis: 35%;

    padding: 5px 7px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.admin-quickmenu > a{
    color: white;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: -2px;

    border-bottom: 1.5px solid #BFBFBF;
    border-radius: 4px;
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-quickmenu > a[id="home"]{
    background-color: yellowgreen;
}
.admin-quickmenu > a[id="home"]:hover{
    background-color: rgb(137, 184, 45);
}
.admin-quickmenu > a[id="home"]:active{
    border: none;
}

.admin-quickmenu > a[id="logout"]{
    background-color: lightcoral;
}
.admin-quickmenu > a[id="logout"]:hover{
    background-color: rgb(211, 112, 112);
}
.admin-quickmenu > a[id="logout"]:active{
    border: none;
}

/* aside - nav */
nav a{
    color: black;
    font-size: 12px;

    text-decoration: none;

    padding: 0 20px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

nav > label > div{
    display: flex;
    justify-content: space-between;
}

nav > label img{
    width: 30px;
    height: 30px;
}

/* top-menu style */

.top-menu{
    background-color: white;
    color: #808080;
    letter-spacing: -2px;

    margin-top: 7px;
    margin-bottom: 3px;
    /* border-bottom: 3px solid #BFBFBF; */
    border: 1px solid #BFBFBF;
    padding: 0 20px;
    border-radius: 7px;
    height: 70px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.top-menu:hover{
    color:black;
    background-color: #E2E2E2;
    transform: translate(1px, -1px); 
    transition: 0.2s;    
}
.top-menu:active{
    transform: translateY(1px);
    transition: 0.1s;
}

nav ul{ list-style: none; }

/* sub-menu style */
.sub-menu{ 
    background-color: white;
    letter-spacing: -2px;

    margin-bottom: 1px;
    /* border-bottom: 2px solid #BFBFBF; */
    border: 1px solid #BFBFBF;
    border-radius: 7px;
    height: 35px;
}

.sub-menu:hover{
    background-color: #E2E2E2;
    transform: translate(1px, -1px);
    transition: 0.2s;
}
.sub-menu:active{
    transform: translateY(1px);
    transition: 0.1s;
}

/* aside - nav - menu toggle */
input[type="radio"]{ display: none; }

input[id^="menu"] + ul{ display: none; }

input[id^="menu"]:checked + ul{ display: block; }

/* admin-content */
.admin-content{
    background-color: white;
    
    padding: 10px 20px 20px 20px;
    margin-left: 20px;
    border: 1px solid #BFBFBF;
    border-radius: 7px;
    min-height: 100%;
    height: 100%;
    width: 900px;
}

.content-header{
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 20px;
    padding: 0px 10px;
    height: 50px;

    display: flex;
    align-items: center;
}

/* 예시용 샘플 */
#tempA{
    background-color: #E2E2E2;

    border-radius: 7px;
    padding: 10px;
 
    height: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#temp1{
    background-color: white;
    border-radius: 7px;
    height: 100%;
    width: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#temp1 > img{
    width: 95%;
    height: 95%;
}

#temp2{
    background-color: white;
    font-size: 40px;
    font-weight: 800;
    
    border-radius: 7px;
    height: 47.5%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

#temp3{
    background-color: white;
    font-size: 40px;
    font-weight: 800;
    
    border-radius: 7px;
    height: 47.5%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/* 예시용 샘플 끝 */

/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}