@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    font-family: 'nanumsquare';
}

/* 전체 요소에 적용 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------------------------------ */

/* 영역 확인용 테두리 -> 나중에 지우기 */
header {
    background-color: white;
}

/* ------------------------------------------------------ */

/* Header */
header{
    width: 1140px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#home-logo{
    width: 80px;
}

.box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    justify-content: right;
}

#profile-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    cursor: pointer;
}

/* 전체 영역 flex */
body{
    display: flex; 
    flex-direction: column;
}

/* main 영역 flex(main 영역에는 aside, section 등) */
main{
    display: flex;
    padding-top: 20px;
    background-color: rgba(221, 221, 221, 0.452);
}


/* aside 영역 */
.admin-aside{
    height: 100vh; /* header, footer 제외하고 페이지 꽉 채우기 */
    min-width: 250px; /* 나중에 너비 조절하기 */
    margin-right: 20px;
}

/* aside 메뉴 여닫기 */
.admin-aside-toggle{
    height: 20px;
    background-color: rgb(153, 219, 146);
    text-align: end;
}

/* aside 메뉴 관리자 정보 */
.admin-aside-myInfo{
    height: 100px;
    background-color: white;
    
    padding: 0 20px;
    
    margin-bottom: 10px;
    
    border-bottom: 2px solid rgb(187, 186, 186);
    border-right: 2px solid rgb(187, 186, 186);

    display: flex;
    align-items: center;
}

/* 로고 */
#admin-logo {
    border: 1px solid black;
    flex-basis: 30%;
    height: 60px;
    border-radius: 5px;
}

#admin-name{
    display: flex;
    justify-content: center;
    flex-basis: 70%;
}


/* aside 메뉴 영역 */
.admin-aside ~ .admin-aside-menu:checked{
    display: none;
}

/* 메뉴 버튼 */
.menu-group{
    list-style: none;
}
.menu-group{
    border-bottom: 2px solid rgb(187, 186, 186);
    border-right: 2px solid rgb(187, 186, 186);
}

.menu-group > li{
    height: 50px;
    width: 100%;
    background-color: white;
    padding: 5px 5px;
}

.menu-group > li > a{
    width: 100%;
    height: 100%;
    /* padding-right: 10px; */
    padding: 10px;

    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    border-left: 2px solid white;
    letter-spacing: -1px;
}

.menu-group > li > a > div{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.menu-group > li > a:hover{
    padding: 0px 9px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    transition-duration: 0.3s;
    font-weight: bold;
}


/* 메뉴  */

/* 메인 메뉴 */
main > section{
    display: flex;
    justify-content: center;
    height: 100vh; /* header, footer 제외하고 페이지 꽉 채우기 */
    width: 1140px; /* 나중에 너비 조절하기 */
    background-color: white;
    border-bottom: 2px solid rgb(187, 186, 186);
    border-right: 2px solid rgb(187, 186, 186);
    margin: auto;
}

/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}