/* admin-content 스타일 */
.admin-content{
    background-color: white;
    padding: 10px 20px 20px 20px;
    margin-left: 20px;
    border: 1px solid #BFBFBF;
    border-radius: 7px;

    min-height: 100%;
    height: 100%;
    width: 900px;
}

/* admin-content-header 스타일 */

/* 외부 파일 사용 */

/* admin-content-header 스타일 */

/* admin - content */
.admin-content{
    display: flex;
    flex-direction: column;
}


/* 리스트 flex 적용 */
.list-frm{
    width: 100%;
}

/* 버튼 스타일 */
.list-btn{
    background-color: white;
    font-size: 14px;
    letter-spacing: -1px;
    margin-bottom: 2px;
    border: none;

    width: 100%;
    height: 30px;
}

.list-header, .list-body{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.list-body > div{
    display: flex;
    align-items: center;
}

/* 비율 조정 */
.member-number{ flex-basis: 10%; }
.member-email{ flex-basis: 20%; }
.member-name{ flex-basis: 20%;}
.member-birth{flex-basis: 20%; }
.signup-date{ flex-basis: 20%;}
.member-status{ flex-basis: 10%;}

/* list-header 스타일 */
.list-header{
    height: 30px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 10px;
}

/* list-body 스타일 */
.list-btn:hover{
    background-color: #bfbfbf21;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.list-btn:active{
    background-color: #bfbfbf41;
    transition-duration: 0.1s;
}